/* CSS rules for homepage.html */

/* Body Format */
body {
    display: flex; /* proper alignment */
    flex-direction: column; /* stack elements vertically */
    align-items: center; /* center elements */
    text-align: center; /* center text */
    margin: 0;  /* proper alignment */
    padding: 0;  /* proper alignment */
}

/* Stock Format */
.rectangle.large {
    position: relative; 
    display: flex; /* proper alignment */
    width: 480px; /* rectangle width */
    height: 400px; /* rectangle height */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* font size */
    font-weight: bold; /* font bold */
    text-align: top; /* text top alignment */
    justify-content: left; /* text left justified */
    padding: 8px; /* add padding around text */
    flex-direction: column;
}

/* Watchlist Format */
.rectangle.small {
    display: flex; /* proper alignment */
    width: 280px; /* rectangle width */
    height: 400px; /* rectangle height */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* font size */
    font-weight: bold; /* font bold */
    text-align: top; /* text top alignment */
    justify-content: left; /* text left justified */
    padding: 8px; /* add padding around text */
}

/* Search Bar Format */
input {
    width: 740px; /* width of search bar */
    height: 40px; /* height of search bar */
    background-color: lightgray; /* background color */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* text size */
    font-style: italic; /* italicize text */
    text-align: center; /* center text */
    padding: 8px; /* add padding around text */
}

/* Search Button */
.search_button {
    cursor: pointer;
    background-color: #0077cc;
    border: 2px solid #0077cc;
    border-radius: 30px;
    color: white;
}

/* News Article */
.news_article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: #0077cc;
    border: 2px solid #0077cc;
    border-radius: 30px;
    color: white;
}

/* Remove Button */
.remove_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #0077cc;
    border: 2px solid #0077cc;
    border-radius: 30px;
    color: white;
}

#companyTicker, #companyName {
    margin: 0;
    padding: 0;
}

#companyTicker {
    margin-bottom: 8px;
    text-align: left;
}

#companyName {
    text-align: left;
}