/* CSS rules for documentation.html */

/* Body Format */
body {
    display: flex; /* proper alignment */
    flex-direction: column; /* stack elements vertically */
    align-items: center; /* center elements */
    text-align: center; /* center text */
    margin: 0;  /* proper alignment */
    padding: 0;  /* proper alignment */
}

/* Rectangle for Info Format */
.rectangle.large {
    position: relative; 
    display: flex; /* proper alignment */
    width: 600px; /* rectangle width */
    height: 400px; /* rectangle height */
    border: 2px solid white; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 18px; /* font size */
    font-weight: none; /* font bold */
    text-align: top; /* text top alignment */
    padding: 8px; /* add padding around text */
    flex-direction: column; /* stack vertically */
    justify-content: flex-start; /* top alignment */
    align-items: center; /* center */
}

