/* CSS rules for homepage.html */

/* Body Format */
body {
    display: flex; /* proper alignment */
    flex-direction: column; /* stack elements vertically */
    align-items: center; /* center elements */
    text-align: center; /* center text */
    margin: 0;  /* proper alignment */
    padding: 0;  /* proper alignment */
}

/* Stock Format */
.rectangle.large {
    position: relative; 
    display: flex; /* proper alignment */
    width: 420px; /* rectangle width */
    height: 400px; /* rectangle height */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* font size */
    font-weight: bold; /* font bold */
    text-align: top; /* text top alignment */
    justify-content: left; /* text left justified */
    padding: 8px; /* add padding around text */
    flex-direction: column;
}

/* Watchlist Format */
.rectangle.small {
    position: relative; 
    display: flex; /* proper alignment */
    flex-direction: column; /*stacks the buttons vertically*/
    overflow-y: auto; /*vertical scroll bar if buttons overflow*/
    overflow-x: hidden; /*any button horizontal overflow hides*/
    width: 280px; /* rectangle width */
    height: 416px; /* rectangle height */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* font size */
    font-weight: bold; /* font bold */
    text-align: top; /* text top alignment */
    justify-content: left; /* text left justified */
    padding: 0px; /* add padding around text */
    align-items: center;
}

/*Watchlist Buttons Format*/
.stockButton {
    width: 270px;
    height: 35px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-top: 0px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.stockButton:hover {
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.15), 0 -6px 13px 0 rgba(0,0,0,0.10);
}

.symbol {
    margin-right: 15px;
    font-size: 14px;
}

.price {
    margin-right: 15px;
    font-size: 14px;
}

.increase {
    color: #008000;
    font-size: 14px;
}

.decrease {
    color: #B22222;
    font-size: 14px;
}

/* Search Bar Format */
input {
    width: 630px; /* width of search bar */
    height: 40px; /* height of search bar */
    background-color: lightgray; /* background color */
    border: 2px solid black; /* border format */
    border-radius: 8px; /* rounded border */
    font-size: 20px; /* text size */
    font-style: italic; /* italicize text */
    text-align: center; /* center text */
    padding: 8px; /* add padding around text */
}

/* Search Button */
.search_button {
    position: absolute;
    cursor: pointer;
    background-color: #0077cc;
    border: 2px solid #0077cc;
    border-radius: 30px;
    color: white;
    transition-duration: 0.4s;
}

.search_button:hover {
    background-color: #00008B;
}

/* News Article */
.news_article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: #0077cc;
    border: 2px solid #0077cc;
    border-radius: 30px;
    color: white;
    transition-duration: 0.4s;
}

.news_article:hover {
    background-color: #00008B;
}

/* Remove Button */
.removeButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #B22222;
    border: 2px solid #B22222;
    border-radius: 30px;
    color: white;
    transition-duration: 0.4s;
}

.removeButton:hover {
    background-color: #800000;
}

/* Add Button */
.addButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #228B22;
    border: 2px solid #228B22;
    border-radius: 30px;
    color: white;
    transition-duration: 0.4s;
}

.addButton:hover {
    background-color: #006400;
}

#companyTicker, #companyName {
    margin: 0;
    padding: 0;
}

#companyTicker {
    margin-bottom: 8px;
    text-align: left;
    color: #0077cc;
}

#companyName {
    text-align: left;
    color: #003366;
}

#watchlistTitle {
    background-color: #FFFFFF;
    width: 270px;
    height: 35px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-top: 0px solid #FFFFFF;
    border-bottom: 0px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    font-size: 30px;
    color: #003366;
    text-align: center;
}

.dataLine {
    margin: 4px 0;
    font-size: 16px;
    text-align: left;
}