.articles-title {
    text-align: center;
}

h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

main a:link {
    color: #008f6b;
    text-decoration: none;
}

main a:visited {
    /* color: #7d02a7; */
    color: #9360a4;
    text-decoration: none;
}

main {
    margin: auto;
    width: 80%;
}

.box-section {
    border: 1px solid black;
    border-radius: 15px;
}

section{
    padding: 20px 50px 50px 50px;
    margin-bottom: 30px;
}

.dividing-line {
    background-color: black;
    height: 4px;
}

article {
    position: relative;
}

.article-width {
    width: 60%;
}

.article-title {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
}

.date {
    float:inline-end;
    margin-bottom: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.publication-name {
    float:inline-start;
    margin-bottom: 5px;
    text-align: left;
}

table {
    text-align: left;
    width: 100%;
    margin-top: 15px;
}

th {
    font-size: 19px;
    padding-bottom: 5px;
}