<!DOCTYPE html>
<head>
    <title>Stock News Articles</title>
    <link rel="stylesheet" href="/static/css/news.css">
</head>
<header>
    <h1><span>{{ticker}}</span> Articles</h1>
</header>
<body>
    <main>
        <section class="box-section">
            <h2>News</h2>
            <div class="dividing-line article-width"></div>
            <div id="newslist">
                {% for article in articles %}
                <article class="article-width">
                    <div class="clearfix">
                        <h3 class="article-title">{{article.title}}</h3>
                        <p class="date">{{article.pubDate}}</p>
                    </div>
                    <p class="publication-name">{{article.publisher}}</p>
                </article>
                {% endfor %}
            </div>
        </section>
        <section class="box-section">
            <h2>SEC Filings</h2>
            <div class="dividing-line"></div>
            <table>
                <tr class="table-header">
                    <th>Date</th>
                    <th>Form</th>
                    <th>URL</th>
                </tr>
                <tr>
                    <td>12/12/25</td>
                    <td>4</td>
                    <td>link to filing</td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>